<h1>App Name Here!</h1>
    <nav>
        <a href="/transaction">Transactions</a> |
        <a href="/input">Input Your Financial Data</a>
</nav>

<ul>
  {{#each stocks}}
     <li>
      <p>Ticker: {{ticker}}</p>
      <p>Company Name: {{companyName}}</p>
      <p>Price: {{price}}</p>
      <p>Changes: {{changes}}</p>
      <p>Percent Change: {{changesPercentage}}</p>
    </li>
  {{/each}}
</ul>

