

<div class="center">

<ul>
  {{#each data}}
     <li>
      <p>Ticker: {{ticker}}</p>
      <p>Company Name: {{companyName}}</p>
      <p>Price: {{price}}</p>
      <p>Changes: {{changes}}</p>
      <p>Percent Change: {{changesPercentage}}</p>
    </li>
  {{/each}}
</ul>

